global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:80
    default_backend kubernetes

backend kubernetes
    balance roundrobin

    server worker2 172.23.0.3:30080 check
    server worker1 172.23.0.2:30080 check